@use "../../../global" as util;
.product-review {
  display: inline-flex;
  padding: 61px 48px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: #fff;
  .rating-point {
    font-size: 24px;
  }
  span {
    color: #000;
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
  }
  .review {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fff;
    padding: 16px 26px 16px 26px;
    textarea {
      width: 409px;
      height: 210px;
      border: none !important;
      outline: none !important;
      overflow: auto;
      font-family: util.$FONT_FAMILY_M;
      font-size: 16px;
      font-weight: 400;
      line-height: 177.9%;
      letter-spacing: 0.16px;
      resize: none;
      &::placeholder {
        color: #a8b1b4;
        font-family: util.$FONT_FAMILY_M;
        font-size: 16px;
        font-weight: 400;
        line-height: 177.9%;
        letter-spacing: 0.16px;
      }
    }
    .send-review-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .send-review {
        cursor: pointer;
        width: 34px;
        height: 34px;
        border-radius: 17px;
        transform: translate(12px, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        background: util.$FONT_COLOR;
        &:hover {
          transform: translate(12px, 0) scale(1.2);
        }
      }
    }
  }
}

.rate {
  height: 46px;
}

.rate:not(:checked) > input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: gray;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input[type="radio"]:checked ~ label {
  color: orange;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: orange;
}

.rate > input[type="radio"]:checked + label:hover,
.rate > input[type="radio"]:checked + label:hover ~ label,
.rate > input[type="radio"]:checked ~ label:hover,
.rate > input[type="radio"]:checked ~ label:hover ~ label,
.rate > input[type="radio"]:hover ~ input[type="radio"]:checked ~ label {
  color: orange;
}
