.shipping {
    width: 60%;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
    
    .shipping-option {
        padding: 10px;

        .shipping-option-input {
            margin-right: 20px;
        }

    }

    .shipping-option-bottom {
        border-top: 1px solid #C3C3C3;
    }
}