.checkout-btn {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #5D8D00;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.checkout-btn-green {
    background-color: #5D8D00;
    color: #FFFFFF;
}

.checkout-btn-white {
    background-color: #FFFFFF;
    color: #5D8D00;
}