.purchase-success-container {
    margin-right: 100px;
    margin-top: 20px;
}

.purchase-success-element {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.purchase-success-icon {
    svg {
        fill: #5D8D00;
    }
}

.purchase-success-message {
    font-size: 14px;
}

.purchase-success-btn {
    width: 200px;
    display: flex;
    justify-content: center;
}

.purchase-success-btn:hover {
    cursor: pointer;
}