.button-pay {
    width: 30%;
    background-color: #5D8D00;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}