.purchase-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 40px;
    margin-top: 40px;

    .heading {
        color: #000000;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.purchase-field {
    color: #4F4F4F;
}