.slide-show {
  .slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
    .slider-content {
      flex: 1 0 100%;
      scroll-snap-align: start;
      transition: transform 0.3s ease-in-out;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .arrow {
    cursor: pointer;
  }
}
