@use "../../global" as util;

.dropdown-with-search {
  .dropdown-btn {
    display: flex;
    height: 44px;
    padding: 10px 12px 10px 16px;

    align-items: center;
    border-radius: 8px;
    gap: 8px;
    border: 1px solid #dcdce4;
    cursor: pointer;
    .option {
      width: 150px;
      color: util.$FONT_COLOR;
      font-size: 14px;
      font-family: util.$FONT_FAMILY_M;
      font-weight: 400;
    }
    svg {
      width: 12px;
      height: 12px;
    }
  }
  .dropdown-content {
    position: absolute;
    width: 200px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
    z-index: 100;
    .inner {
      overflow: hidden;
      transform: translate(0, 2px);
    }
    .list-options {
      height: 300px;
      overflow: auto;
      .dropdown-item {
        padding: 10px 20px 10px 20px;
        color: util.$FONT_COLOR;
        font-size: 12px;
        font-family: util.$FONT_FAMILY_M;
        font-weight: 400;
        background: #f1f1f1;
        cursor: pointer;
        &:hover {
          background: #dbd9d9;
        }
      }
    }
  }
  .dropdown-content.active {
    grid-template-rows: 1fr;
  }
}
