$LOGIN_BACKGROUND: #0089ed;

.LoginForm {
  background: $LOGIN_BACKGROUND;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .group-name {
    font-weight: 550;
    font-size: calc(1rem + 0.2vw);
    line-height: 1.4rem;
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    color: #ffffff;
  }
  .container {
    display: flex;
    height: 100vh;
  }

  .first-container {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
  }
  .second-container {
    flex: 5;
    display: flex;
    align-items: center;
    .card {
      background: #ffffff;
      box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
      border-radius: calc(1rem + 1vw);
      height: auto;
      padding: calc(1rem + 1vw);
      width: 90%;
    }
  }

  button {
    background: #0089ed;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 0.7rem;
    width: 100%;
    padding: 0.7rem;
    color: white;
    border: 1px solid #0089ed;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: calc(0.9rem + 0.1vw);
  }
  .forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.7rem + 0.2vw);
    line-height: 1.1rem;
    margin-bottom: 0.8rem;
    a {
      color: #4285f4;
    }
  }
  .sendEmail {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: center;
    font-size: calc(0.8rem + 0.1vw);
  }
  @media (max-width: 960px) {
    .group-name {
      display: none;
    }
    .first-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .greeting {
        display: none;
      }
    }
    .second-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      .card {
        width: 90%;
      }
    }
  }
}
@media (max-width: 360px) {
  .LoginForm {
    button {
      margin-top: 0.4rem;
    }
  }
}
