.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  background: #ffffff;
  label {
    font-weight: 500;
    font-size: calc(0.9rem + 0.1vw);
    line-height: 1.3rem;
    color: #000000;
    margin-bottom: 0.2rem;
  }

  fieldset {
    display: flex;
    margin-top: 0.1rem;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #adadad;
  }
  fieldset:focus-within {
    border: 1px solid #0089ed;
  }
  fieldset:invalid[focused="true"] {
    border: 1px solid red;
  }
  fieldset:invalid[focused="true"] ~ span {
    display: block;
  }
  input {
    width: 92%;
    padding: 1rem 0 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    outline: none !important;
    font-size: calc(0.8rem + 0.2vw);
  }
  input::placeholder {
    color: #adadad;
  }
  svg {
    width: 8%;
    cursor: pointer;
    font-size: calc(0.9rem + 0.1vw);
  }
  span {
    font-size: calc(0.7rem + 0.1vw);
    padding: 0.15rem;
    color: red;
    display: none;
  }
}

@media (max-width: 960px) {
  .formInput {
    input {
      width: 94%;
    }
    svg {
      width: 6%;
    }
  }
}

@media (max-width: 660px) {
  .formInput {
    input {
      width: 92%;
    }
    svg {
      width: 8%;
    }
  }
}
@media (max-width: 400px) {
  .formInput {
    input {
      width: 88%;
    }
    svg {
      width: 12%;
    }
  }
}
