@use "../../../global" as util;

.users-page {
  padding: 20px 32px 40px 32px;
}

.orders-page {
  padding: 20px 32px 40px 32px;
}
.user-detail-page {
  padding: 20px 32px 40px 32px;
  .user-detail-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .info-orders {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.order-detail-page {
  padding: 20px 32px 40px 32px;
}
