.purchase-navigation {
    display: flex;
    margin-top: 120px;
    margin-left: 40px;
    justify-content: space-between;

    .purchase-back {
        display: flex;
        .purchase-back-text {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            margin-left: 10px;
        }
        svg {
            width: 16px;
        }
    }

    .purchase-back:hover {
        cursor: pointer;
    }

    .purchase-title {
        font-size: 30px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
}

.purchase-noti-tofill {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 40px;
    color: #828282;
}

.purchase-suggest-text {
    color : #828282;
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-right: 40px;
}

.purchase-suggest-link {
    cursor: pointer;
    a {
        color: #5D8D00;
    }
    margin-left: 10px;
}






