@use "../../../../global" as util;
@use "../../style" as box;

.basic-modal-container {
  height: 600px;
  background: white;
  width: 60%;
  border-radius: 8px;
  transform: translate(32%, calc(50vh - 300px));
}
.address-modal {
  display: none;
  &.opened {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.6);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
  }
}
