@use "../../global" as util;
.login-greeting {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 50px;
  padding-right: 25%;
  .first {
    color: #000;
    font-family: util.$FONT_FAMILY_M;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .second {
    color: #000;
    font-family: util.$FONT_FAMILY_M;
    font-size: 24px;
    font-weight: 400;
  }
  .third {
    color: #000;
    font-family: util.$FONT_FAMILY_M;
    font-size: 16px;
    font-weight: 300;
  }
}
