@use "../../global" as util;
.cart-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    
    .cart-item-info {
        display: flex;
        align-items: center;
    }

    .cart-item-price {
        display: flex;
        align-items: center;
    }

    .cart-item-remove {
        display: flex;
        align-items: center;
    }

    .cart-item-remove:hover {
        cursor: pointer;
    }

    .cart-item-qty {
        display: flex;
        align-items: center;
        button {
            background-color: #5D8D00;
            color: #ffffff;
            width: 20px;
            border: none;
        }
        button:hover {
            cursor: pointer;
        }
        .qty {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .cart-item-img {
        img {
            width: 120px;
            height: 120px;
        }
    }
}

.cart-item-alert {
    color: rgb(196, 18, 18);
}