@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,300&family=Montserrat:wght@400;500;600;700;800;900&display=swap");
$FONT_FAMILY_MA: "Montserrat Alternates", sans-serif;
$FONT_FAMILY_M: "Montserrat", sans-serif;
$FONT_COLOR: #283618;
$FONT_COLOR_BOLD: #000;
@mixin title-text {
  color: #000;
  font-size: 42px;
  font-family: $FONT_FAMILY_M;
  font-weight: 700;
  letter-spacing: -1.44px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}
