@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,300&family=Montserrat:wght@400;500;600;700;800;900&display=swap");
$FONT_FAMILY_MA: "Montserrat Alternates", sans-serif;
$FONT_FAMILY_M: "Montserrat", sans-serif;
$FONT_COLOR: #283618;
$FONT_COLOR_BOLD: #000;
@mixin title-text {
  color: #000;
  font-size: 42px;
  font-family: $FONT_FAMILY_M;
  font-weight: 700;
  letter-spacing: -1.44px;
  text-align: center;
}
@mixin overflow_ver($number) {
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.loading-section {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
