@use "../../global" as util;

.user-page-layout {
  display: flex;
  .container {
    overflow: auto;
    background: #f6f6f9;
    border-left: 2px solid #eaeaef;
    width: calc(100% - 246px);
    transform: translate(246px, 0);
    position: relative;
    min-height: 100vh;
    max-height: 100%;
    z-index: 1;
    transition: all 0.25s ease-in-out;
    &.active {
      width: calc(100% - 50px);
      transform: translate(51px, 0);
    }
  }
}

.my-profile-page {
  padding: 4px 32px 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
