// $GOOGLE_IMAGE: url(../../assets/image/google-logo-9808.png);

$LOGO_HEIGHT: calc(3rem + 1vh);

svg {
  width: calc(1rem + 0.4vw);
  height: $LOGO_HEIGHT;
}
.logo {
  cursor: pointer;
}
.list-sci {
  display: flex;
  width: 100%;
  margin-bottom: 1.45rem;
  .first-sci {
    flex: 6;
    height: $LOGO_HEIGHT;
    border-radius: 9px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e7eef8;
      text-align: center;
      height: $LOGO_HEIGHT;
      border-radius: 0.6rem;
      width: 100%;
      p {
        color: #4285f4;
        margin-left: calc(0.4rem + 0.1vw);
        margin-top: 0.1rem;
        font-size: calc(0.9rem + 0.1vw);
      }
    }
  }
  .second-sci {
    flex: 1;
    height: $LOGO_HEIGHT;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    .logo {
      background: #f0efef;
      width: 100%;
      height: $LOGO_HEIGHT;
      text-align: center;
      border-radius: 9px;
    }
  }
  .third-sci {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    .logo {
      background: #f0efef;
      width: 100%;
      height: $LOGO_HEIGHT;
      text-align: center;
      border-radius: 9px;
    }
  }
}
@media (max-width: 420px) {
  .list-sci {
    margin-bottom: 0.7rem;
    .first-sci {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      .logo {
        p {
          display: none;
        }
      }
    }
    .second-sci {
      flex: 1;
      align-items: flex-start;
    }
    .third-sci {
      flex: 1;
      align-items: flex-start;
    }
  }
}
