@use "../../global" as util;

.table-section {
  font-family: util.$FONT_FAMILY_M;
  .table-number-data {
    color: #666687;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 4px;
  }
  svg {
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}
