.price {
    display: flex;
    justify-content: space-between;
    width: 60%;

    .price-value {
        font-weight: 600;
    }
}

.price-bottom {
    margin-top: 10px;
}

.totalprice {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px #C3C3C3;
    border-bottom: solid 1px #C3C3C3;

    .totalprice-value {
        font-weight: 600;
    }

    .totalprice-label {
        font-weight: 600;
    }
}

.checkout-edit-cart {
    margin-bottom: 20px;
}