.contact-info {
    width: 60%;

    .contact-form {
        margin-bottom: 20px;
    
        .contact-form-label {
            font-size: 12px;
        }
    
        .contact-form-input {
            margin-top: 10px;
            width: 100%;
            font-size: 14px;
            border-radius: 10px;
            border: 1px solid #C3C3C3;
            padding: 10px;
            color: #5D8D00;
            
        }
    }
}
.error-message {
    color: red;
}